/* custom template */
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
  background-color:#eee;
  height:100%;
  position:fixed;
  right:0;
}

.jumbotron {
  background: url(http://www.wrsd.net/siteimages/districtheader920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 13.9rem;
  width: 120%;
  color: white;
  text-shadow: black 0.5em 0.5em 0.5em;
 
}

.info {
	text-align: center;
}


font {
	text-align: center;
}

